/* Global CSS */
body {
    width: 100%;
    height: auto;
}

/* Landing Page CSS */
.landing-page {
    width: 100%;
    height: 100%;
    position: absolute;
    color: #fff;
    padding-left: 15px;
}

button {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
}